.search-results {
    height: 70vh;
    overflow-y: scroll;
    padding: 0 10px;
    max-width: 500px;
}

.search-results .card {
    margin: 10px 0;
    border-radius: 0.5rem;
    border: 1px solid #eee;
    cursor: pointer;
}

.search-results .card .content {
    display: flex;
    flex-direction: row;
}

.search-results .card .content .picture {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.search-results .card .content .info {
    margin-left: 1.25rem;
}

.search-results .card .book-picture {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
}

.search-results .card .content .picture .card-img {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-results .card .card-img-top {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0;
    height: 15rem;
}

.search-results .card .content .title {
    margin-top: 0.5rem;
    color: #ff3b46;
}

.search-results .card .content .text {
    font-size: 0.65rem;
}

.no-records {
    display: flex;
    justify-content: center;
}
